<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
    <context:annotation-config />
    <context:component-scan base-package="com.totoland" >
    </context:component-scan>
    <import resource="DataSource.xml"/>
    <import resource="Hibernate.xml"/>
    
<!--    <bean id="ectConfManager" class="com.totoland.db.common.dao.hibernate.EctConfManager">
        <property name="ectConfs">
            <bean factory-bean="ectConfDao" factory-method="getAllConf"></bean>
        </property>
        <property name="reportNames">
            <bean factory-bean="reportNameDao" factory-method="getAllReportName"></bean>
        </property>
    </bean>-->
    
</beans>
