<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!--for print out to log file-->
    <appender name="LOGFILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.base}/logs/web/ectReport.log"/>
        <param name="DatePattern" value="'.'dd-MM-yyyy"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d | %p | %C{2} (%M,%L) | reqId: %X{reqId} | %m%n" />
        </layout>
    </appender>

<!--for print out to console-->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d | %p | %C{2} (%M,%L) | reqId: %X{reqId} | %m%n"/>
        </layout>
    </appender>
    <logger name="com.totoland">
        <level value="trace"/>
    </logger>
   <logger name="org.springframework.orm">
        <level value="error"/>
    </logger>
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <level value="error"/>
    </logger>
<!--    <logger name="org.apache.struts.actions.DispatchAction">
        <level value="debug"/>
    </logger>-->
    <root>
        <level value="WARN" />
        <appender-ref ref="LOGFILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>
